body {
    background-color: rgb(244, 244, 144);
}
img {
    width: 225px;
    border-radius: 90%;
    padding: 20px 600px;
}
.nome {
    padding: 0px 450px ;
}
h1 {
    padding: 0px 690px;
}
p {
    font-weight: bold;
    font-size: 35px;
}
li {
    font-weight: bolder;
    font-size: 40px;
}
